<md-dialog>
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content photoDialog">
      	<md-card>
	    	<img ng-src="{{picture.path}}" class="md-card-image" alt="Washed Out">
	    </md-card>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="previousPicture($event)">
        Previous
      </md-button>
      <span flex></span>
      <md-button ng-click="nextPicture($event)">
        Next
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>