body {
	background-color: rgba(0, 0, 0, 0.05);
}

.formEmail {
	position: absolute;
	background-color: transparent !important;
	width: 50%;
	top: 50%;
	left: 25%;
	border-style: solid;
	border-color: #0ABAB5;
	border-radius: 20px;
}

#emailConfirmation {
	padding-bottom: 0px;
	margin-top: 7px;
	margin-bottom: 0px;
	margin-right: 20px;
}

#imgBackground {
	text-align: center;
	height: 99%;
	opacity: 0.05;
}

#imgBackground>img {
	height: 100%;
}

.formInfo {
	position: absolute;
	background-color: transparent !important;
	width: 70%;
	top: 20%;
	left: 15%;
	border-style: solid;
	border-color: #0ABAB5;
	border-radius: 20px;
}

.formFields {
	margin: 20px;
}

.homeStyle {
	position: absolute;
	background-color: transparent !important;
	width: 99%;
	top: 0px;
}

.headerClass {
	border-width: 1px;
	border-style: solid;
	border-color: #0ABAB5;
	height: 200px;
	background-color: transparent !important;
}

.transparentField {
	background-color: transparent !important;
}

.homeContent {
	height: 99%;
	width: 99%;
}

md-tab-item:hover {
	background-color: #0ABAB5;
	color: rgba(255, 255, 255, 0.7) !important;
}

.tabContent {
	width: 70%;
	left: 15%;
}