@font-face {
	font-family: wedding;
	src: url(../fonts/BrockScript.ttf);
}


body {
	background-color: rgba(0, 0, 0, 0.05);
}

.formEmail {
	position: absolute;
	background-color: transparent !important;
	width: 50%;
	top: 50%;
	left: 25%;
	border-style: solid;
	border-color: #0ABAB5;
	border-radius: 20px;
}

.loadingComponent {
	position: absolute;
	left: 50%;
	top: 15%;
}

#emailConfirmation {
	padding-bottom: 0px;
	margin-top: 7px;
	margin-bottom: 0px;
	margin-right: 20px;
}

#imgBackground {
	text-align: center;
	height: 99%;
	opacity: 0.05;
}

#imgBackground>img {
	height: 100%;
}

.formInfo {
	position: absolute;
	background-color: transparent !important;
	width: 70%;
	top: 20%;
	left: 15%;
	border-style: solid;
	border-color: #0ABAB5;
	border-radius: 20px;
}

.formFields {
	margin-left: 20px;
	margin-right: 20px;
}

.homeStyle {
	position: absolute;
	background-color: transparent !important;
	width: 99%;
	top: 0px;
}

.headerClass {
	border-width: 1px;
	border-style: solid;
	border-color: #0ABAB5;
	height: 200px;
	background-color: transparent !important;
}

.transparentField {
	background-color: transparent !important;
}

.homeContent {
	height: 99%;
	width: 99%;
}

md-tab-item:hover {
	background-color: #0ABAB5;
	color: rgba(255, 255, 255, 0.7) !important;
}

.md-tab {
	font-size: 12px;
}

.tabContent {
	width: 80%;
	margin: auto;
}

.playlistSize {
	width: 50%;
	height: 550px;
}

.listStyle {
	height: 70px;
	border-bottom: 1px solid #0ABAB5;
	border-top: 1px solid #0ABAB5;
}

.spotifyArtistImg {
	width: 50px;
	height: 50px;
	padding-right: 10px;
	padding-left: 16px;
}

.spotifyArtistName {
	padding: 10px;
	font-size: 12px;
}

.spotifyList {
	height: 408px;
	overflow: auto;
}

.spotifyAlbumText {
	margin: 2px;
	width: 270px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.iconsList {
	font-size: 30px;
	color: #0ABAB5;
	position: absolute;
	right: 15px;
	vertical-align: middle;
	text-align: right;
}

.material-icons {
	padding: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.material-icons:hover {
	border: 1px solid #0ABAB5;
}

.spotifyLogo {
	padding: 5px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	min-width: 20px;
}

.spotifyListButton {
	vertical-align: middle;
	min-width: 20px;
	margin: 0px;
	border-radius: 30px;
}

.giftListButton {
	height: 130px;
	padding: 8px;
}

.giftImgList {
	height: 100%;
}

.signField {
	width: 50%;
	margin-top: 0px;
}

.messageField {
	width: 100%;
	margin-bottom: 0px;
}

.formWidth {
	width: 70%;
}

.sendMsgField {
	width: 20%;
}

.msgListheader {
	padding-bottom: 25px;
}

.msgListBorder {
	border-top: 1px solid #0ABAB5;
	color: #0ABAB5;
	width: 100%;
}

.msgListAuthor {
	float: left;
}

.msgListDate {
	float: right;
}

.msgListContent {
	clear: both;
}

.aboutWedding {
	font-size: 20px;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.aboutWeddingButtonImg {
	height: 80%;
}

.aboutWeddingButton {
	height: 250px;
	padding: 8px;
	width: 50%;
}

.aboutCoupleBody {
	font-size: 20px;
	text-align: justify;
	max-width: 1000px;
	margin: 0 auto;
}

.pictureThumbnail {
	width : 200px;
	min-width: 200px;
}

.photoDialog {
    max-width: 90%;
    max-height: 90%;
}

.photoDialogContent {
    overflow: hidden;
}

.md-dialog-content {
    padding: 0px;
    overflow: hidden;
}

.photoDialogContentDiv {
    padding: 0px !important;
}

.imgOrientation {
    image-orientation: from-image;
}