body {
	background-color: rgba(0, 0, 0, 0.05);
}

.formEmail {
	position: absolute;
	background-color: transparent !important;
	width: 50%;
	top: 50%;
	left: 25%;
	border-style: solid;
	border-color: #0ABAB5;
	border-radius: 20px;
}

#emailConfirmation {
	padding-bottom: 0px;
	margin-top: 7px;
	margin-bottom: 0px;
	margin-right: 20px; 
}

#imgBackground {
	text-align: center;
	height: 100%;
	opacity: 0.05;
}

#imgBackground > img{
	height: 100%;
}