<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  
  	<link rel="stylesheet" href="css/angular-material.min.css" />
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  	<link rel="stylesheet" href="css/style.css" />
  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Casamento Nick & Katy</title>
  </head>

  <body ng-app="WeddingApp">
  	
  	<div id="imgBackground">
  		<img src="/images/background.jpg"></img>
  	</div>
    
    <div ng-controller="EmailConfirmationCtrl" layout="column" ng-cloak class="md-inline-form" id="containerConfirm">
    	<md-content layout-padding md-theme="default" class="formEmail" ng-show="!showForm && !goHome">
    		<form layout-gt-sm="row" name="formEmailConfirmation">
				<md-input-container class="md-block" flex-gt-sm="" id="emailConfirmation" name="emailConfirmation">
					<label>e-mail</label>
					<input ng-model="guest.guestEmail" type="email" ng-pattern="/^.+@.+\..+$/" name="txtGuestEmail" />
					<div ng-messages="formEmailConfirmation.txtGuestEmail.$error" role="alert">
			          <div ng-message="pattern">
			            Formato de e-mail inválido. Verifique o endereço de e-mail informado.
			          </div>
			        </div>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="showAlert($event)">Verificar e-mail</md-button>
			</form>
    	</md-content>
    	
    	<div ng-include="'/pages/confirmationForm.html'" ng-cloak ng-show="showForm && !goHome" class="formInfo"></div>
    	
    	<div ng-include="'/pages/home.html'" ng-cloak ng-show="goHome && !showForm"></div>

    </div>
    
    <!-- Angular Material requires Angular.js Libraries -->
  	<script src="js/angular.min.js"></script>
  	<script src="js/angular-animate.min.js"></script>
  	<script src="js/angular-aria.min.js"></script>
  	<script src="js/angular-messages.min.js"></script>
  	<script src="js/angular-material-icons.min.js"></script>

  	<!-- Angular Material Library -->
  	<script src="js/angular-material.min.js"></script>
  	
  	<!-- Angular Controllers files (App, Modules, Controllers, etc.) -->
  	<script src="ctrl/WeddingAppModule.js"></script>
  	<script src="ctrl/EmailConfirmationCtrl.js"></script>
  	<script src="ctrl/EmailConfirmationConfig.js"></script>
  	<script src="ctrl/PlaylistCtrl.js"></script>
  </body>
</html>
